﻿@page "/addProduct"
@using Client.Service.IService
@using global::App.Shared
@using System.ComponentModel.DataAnnotations
@using System.Globalization
<PageTitle>Add Product</PageTitle>
<h3>Add Product</h3>

<EditForm Model="Product" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label class="form-label">Name</label>
        <InputText class="form-control" @bind-Value="Product.Name" />
        <ValidationMessage For="() => Product.Name" />
    </div>
    <div class="mb-3">
        <label class="form-label">Price</label>
        <InputText class="form-control" @bind-Value="PriceString" />
        <ValidationMessage For="() => Product.Price" />
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <InputText class="form-control" @bind-Value="Product.Description" />
        <ValidationMessage For="() => Product.Description" />
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>

@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; } = null!;
    [Inject]
    private IProductService ProductService { get; set; } = null!;

    private Product Product { get; set; } = new Product();

    private async Task HandleValidSubmit()
    {
        await ProductService.CreateAsync(Product);
        NavigationManager.NavigateTo("/index", true);
    }
    [Required]
    [Range(0, 100000, ErrorMessage = " Price must be between 0 and 100000")]
    private string PriceString
    {
        get => Product.Price.ToString(CultureInfo.InvariantCulture);
        set => Product.Price = decimal.TryParse(value, out var parsedPrice) ? parsedPrice : 0;
    }
}
