﻿@page "/index"
@using Client.Service.IService
@using global::App.Shared
<PageTitle>Show</PageTitle>
<h2>List Product</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">The Id</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Control</th>
        <th scope="col">Control</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Products)
    {
        <tr>
            <th scope="row">@Count</th>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@product.Description</td>
            <td>
                <a class="btn btn-danger" @onclick="() => DeleteProduct(product.IdGuid)">Delete</a>
            </td>
            <td>
                <a class="btn btn-primary" @onclick="() => EditProduct(product.IdGuid)">Edit</a>
            </td>
        </tr>
        Count++;
    }
    </tbody>
</table>

@code{

    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;

    [Inject]
    private IProductService ProductService { get; set; } = default!;

    private IEnumerable<Product> Products { get; set; } = new List<Product>();

    private int Count { get; set; } = 1;

    protected override async Task OnInitializedAsync()
    {
        Products = await ProductService.GetAllAsync();
    }

    private async Task DeleteProduct(Guid id)
    {
        await ProductService.DeleteAsync(id);
        NavigationManager.NavigateTo("/index", true);
    }

    private void EditProduct(Guid id)
    {
        NavigationManager.NavigateTo($"/updateProduct/{id}", true);
    }
}