﻿@page "/updateProduct/{Id:guid}"
@using Client.Service.IService
@using global::App.Shared
@using System.Globalization
<PageTitle>Update Product</PageTitle>

<h2>Edit Product</h2>
<div class="row">
    <div class="col-md-6">
        <EditForm Model="Product" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator/>
            <div class="mb-3">
                <label class="form-label">Name</label>
                <InputText class="form-control" @bind-Value="Product.Name"/>
                <ValidationMessage For="() => Product.Name"/>
            </div>
            <div class="mb-3">
                <label class="form-label">Price</label>
                <InputText class="form-control" @bind-Value="PriceString"/>
                <ValidationMessage For="() => Product.Price"/>
            </div>
            <div class="mb-3">
                <label class="form-label">Description</label>
                <InputText class="form-control" @bind-Value="Product.Description"/>
                <ValidationMessage For="() => Product.Description"/>
            </div>
            <button class="btn btn-primary" type="submit">Update</button>
        </EditForm>
    </div>
</div>

@code {

    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;

    [Inject]
    private IProductService ProductService { get; set; } = default!;

    [Parameter]
    public Guid Id { get; set; }

    private Product Product { get; set; } = new();

    private string PriceString
    {
        get => Product.Price.ToString(CultureInfo.CurrentCulture);
        set => Product.Price = decimal.Parse(value);
    }

    protected override async Task OnInitializedAsync()
    {
        Product = (await ProductService.GetAsync(Id))!;
    }

    private async Task HandleValidSubmit()
    {
        await ProductService.UpdateAsync(Product);
        NavigationManager.NavigateTo("/index", true);
    }
}