﻿@page "/Uploadfile"
@using System.Net.Http.Headers

<h3>Upload File</h3>
@* block nhung file chi cho upload nhung file da quy dinh *@
<InputFile OnChange="HandleFileChange" accept=".txt, .jpg, .xls" />

<button @onclick="UploadFile">Upload</button>

@if (!string.IsNullOrEmpty(UploadMessage))
{
    <p>Upload result: @UploadMessage</p>
}
@code{

    private IBrowserFile? File { get; set; }

    private string UploadMessage { get; set; } = string.Empty;

    [Inject]
    public HttpClient? HttpClient { get; set; }

    private Task HandleFileChange(InputFileChangeEventArgs e)
    {
        File = e.File;
        UploadMessage = string.Empty;
        return Task.CompletedTask;
    }

    private async Task UploadFile()
    {
        var content = new MultipartFormDataContent();
        var streamContent = new StreamContent(File!.OpenReadStream(File.Size));

        streamContent.Headers.ContentType = new MediaTypeHeaderValue(File.ContentType);

        content.Add(streamContent, "file", File.Name);

        var response = await HttpClient!.PostAsync("api/File/Upload-File", content);

        UploadMessage = response.IsSuccessStatusCode ? "Successfully." : "Failed.";
    }

}