﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="index" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Show - Delete
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Uploadfile">
                <span class="oi oi-plus" aria-hidden="false"></span> Upload file
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addProduct">
                <span class="oi oi-list-rich" aria-hidden="true"></span> AddBase - Update
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

}